<template name="themeItem">

	<div class="theme-item well well-sm">
		<div class="theme">
			{{#if userHasNotYetVoted}}
				<h4 class="pull-left">
					<span class="glyphicon glyphicon-plus-sign vote" id="voteForTheme" title="Vote for this theme"></span>
				</h4>
			{{/if}}
			<h4 class="theme-name pull-left">{{theme}}</h4>
			<h6 class="pull-right">{{username}}</h6>
		</div>
		<div class="clear"></div>



		<div class="theme-extras">

			<details class="votes-list">
				<summary>Votes: {{voteCount}}</summary>
				{{#if voteCount}}
					<ul>
						{{#each votes}}
							<li>{{username}}</li>
						{{/each}}
					</ul>
				{{/if}}
			</details>

			<details class="comments-list">
				<summary>Comments: {{commentCount}}</summary>
				{{> newComment}}
				{{#if commentCount}}
					<dl>
						{{#each comments}}
							<dt>{{username}} - <span data-livestamp="{{createdAt}}"></span></dt>
							<dd>{{comment}}</dd>
						{{/each}}
					</dl>
				{{/if}}
			</details>
		</div>
	</div>

</template>
