<head>
	<title>SAGDC 2014</title>
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		{{> navigation}}

		<h1>SAGDC 2014 Themes & Voting</h1>
		{{#if currentUser}}
		{{else}}
			{{#if loggingIn}}
				<span class="fa fa-spinner fa-5x fa-spin"></span>
				<br/>
				Logging in...
			{{else}}
				<div class="alert alert-info"><h2>Log in to add new theme ideas, vote, and comment.</h2></div>
			{{/if}}
		{{/if}}
		{{> themesContainer}}
	</div>

</body>
