<head>
	<title>SAGDC 2014</title>
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		{{> navigation}}

		{{#if currentUser}}
			<h1>SAGDC 2014 Themes & Voting</h1>
			{{> themesContainer}}
		{{else}}
			{{#if loggingIn}}
				<span class="fa fa-spinner fa-5x fa-spin"></span>
				<br/>
				Logging in...
			{{else}}
				<h1>Please log in!</h1>
			{{/if}}
		{{/if}}
	</div>

</body>
