<template name="themesContainer">
	{{> newThemeInput}}

	{{> themesList}}
</template>


<template name="newThemeInput">
	<div class="input-group" id="newThemeContainer">
		<input type="text" class="form-control" id="newTheme" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" id="addTheme">Add New Theme</button>
		</span>
	</div>
</template>


<template name="themesList">
	{{#each themes}}
		{{> themeItem}}
	{{/each}}
</template>


<template name="themeItem">
	{{votes}}
	<button type="button" class="btn btn-primary" data-toggle="tooltip" title="Vote for this theme" id="voteForTheme"><i class="glyphicon glyphicon-plus"></i></button>
	{{theme}}
</template>
