<template name="themesContainer">
	{{> newThemeInput}}

	{{> themesList}}
</template>


<template name="newThemeInput">
	<div class="input-group" id="newThemeContainer">
		<input type="text" class="form-control" id="newTheme" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" id="addTheme">Add New Theme</button>
		</span>
	</div>
</template>


<template name="themesList">
	{{#each themes}}
		{{> themeItem}}
	{{/each}}
</template>


<template name="themeItem">

	<button type="button" class="btn btn-primary" title="Vote for this theme" id="voteForTheme"><i class="glyphicon glyphicon-plus"></i></button>

	<div class="votes-list">
		<h6>Votes: {{voteCount}}</h6>
		{{#if voteCount}}
			<ul>
				{{#each votes}}
					<li>{{username}}</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>

	<div class="theme">
		{{theme}}
	</div>

	<div class="comments-list">
		<h6>Comments: {{commentCount}}</h6>
		{{#if commentCount}}
			<dl>
				{{#each comments}}
					<dt>{{username}}</dt>
					<dd>{{comment}}</dd>
				{{/each}}
			</dl>
		{{/if}}
		{{> newComment}}
	</div>
</template>
